<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zedTech.zeeshanamin3.StudyAbroad">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".StartingActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FirstStep"
            android:label="StudyAbroad"></activity>
        <activity
            android:name=".SecondStep"
            android:label="StudyAbroad"></activity>
        <activity
            android:name=".ThirdStep"
            android:label="@string/title_activity_third_step"></activity>
        <activity
            android:name=".FourthStep"
            android:label="@string/title_activity_fourth_step"></activity>
        <activity
            android:name=".FifthStep"
            android:label="@string/title_activity_fifth_step"></activity>
        <activity
            android:name=".SixthStep"
            android:label="@string/title_activity_sixth_step"></activity>
        <activity
            android:name=".EndActivity"
            android:label="StudyAbroad"></activity>
        <activity android:name=".MajorsActivity"></activity>
    </application>

</manifest>